<div class="column is-one-third">
    <div class="card ">
        <div class="card-header px-2 py-2 has-background-success" style="display: block;">
            <p class="title is-3 has-text-white">{{ name }}</p>
            <p class="subtitle is-4 has-text-white"><i class="fas fa-user-graduate"></i>&nbsp;{{ role }}</p>
        </div>
        <div class="card-content has-background-grey-lighter">
            <ul class="has-background-white px-1 py-1">
                <li class="has-text-weight-semibold">ID: {{ id }}</li>
                <li class="has-text-weight-semibold">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                <li class="has-text-weight-semibold">School: {{ school }}</li>
            </ul>
        </div>
    </div>
</div>